* {
   transition: all .1s ease-in;
}

body { 
   background: #3B3F45;
   font-family: Trebuchet, Arial, sans-serif;
   margin: 10px;
   width: 1340px;
   margin: 0 auto;
}

.head {
   background: #4A4F56;
   text-align: center;
   color: #EB7E7F;
}

.box {
   width: 60%;
   margin: 0 auto;
   text-align: center;
   font-size: 1.5em;
}

.box__list {
   list-style-type: none;
   text-align: left;
}

.box__chek {
   color: #F9F9F9;
   margin: 0;
   background-color: #88839E;
   box-sizing: border-box;
   height: 60px;
}

input:checked + span {
      text-decoration: line-through;
      color: #625E77;
      background-color: #7A7593;
      box-sizing: border-box;
}



ul li label {
   display: inline-block;
   padding: 10px 15px;
   width: 100%;
   /*border-top: 2px solid transparent;
   border-bottom: 2px solid transparent;*/
}

ul li:hover {
   border-top: 2px solid #fff;
   border-bottom: 2px solid #fff;
   border-top: 2px solid #fff;
}

ul li:nth-child(even) {
   background-color: #7A7593;
}

ul li:nth-child(odd) {
   background-color: #88839E;
}

footer {
   background-color: #4A4F56;
   text-align: center;
   color: #EB7E7F;
   width: 903px;
   margin-left: 235px;
   padding: 5px;
}